@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body{
  font-family: 'Roboto Mono', monospace;
  background-color: teal;
}

#drum-machine {
  width: 350px;
  margin: 10vh auto;
  padding: 10px 0 20px 0;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 3px 3px 20px black;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  margin-top: 10px;
}

.drum-pad {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  font-size: 24px;
  background-color: #333333;
}

#display {
  background-color: black;
  color: orange;
  width: 290px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  height: 40px;
}
